<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.javacoffee.web.dao.IMemberDAO">
  		<resultMap type="com.javacoffee.web.model.MemberVO" id="memResult">
  			<result property="id" column="id"/>
  			<result property="pwd" column="pwd"/>
  			<result property="name" column="name"/>
  			<result property="email" column="email"/> 
  			<result property="tel1" column="tel1"/>  
  			<result property="tel2" column="tel2"/>   
  			<result property="tel3" column="tel3"/>    	
  			<result property="address1" column="address1"/>
  			<result property="address2" column="address2"/>  
  			<result property="role" column="role"/>   		
  		</resultMap>  
  
  		<!-- 로그인 확인 -->
  		<select id="loginCheck" resultMap="memResult" parameterType="hashmap">
  			<![CDATA[
  				SELECT * FROM member WHERE id=#{id} AND pwd=#{pwd}
  			]]>
  		</select>
  		
  		<!-- 아이디 중복체크 -->
  		<select id="idCheck" resultMap="memResult" parameterType="hashmap">
  			<![CDATA[
  				SELECT * FROM member WHERE id=#{id} 
  			]]>
  		</select>
  		
  		<insert id="insertMember" parameterType="com.javacoffee.web.model.MemberVO">
  			<![CDATA[
				INSERT INTO member(id,pwd,name,email,tel1,tel2,tel3,zipcode,address1,address2)
				VALUES (#{id},#{pwd},#{name},#{email},#{tel1},#{tel2},#{tel3},#{zipcode},#{address1},#{address2})
			]]>
		</insert>
		
		<select id="selectMember" resultMap="memResult" parameterType = "String">
  			<![CDATA[
  				SELECT * FROM member WHERE id=#{id}
  			]]>
  		</select>
  </mapper>
  
  
  